body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    letter-spacing: 1px;
    background-color: #F8F7F7;
}

/* -------- Navigation Bar -------- */
nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: large;
    font-weight: bold;
    align-items: center;
}

nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    text-decoration: none;
    z-index: 1;
    height: 80px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}


.nav-li {
    padding: 0px 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

#nav-image {
    width: 100%;
    height: 80px;
    object-fit: cover;
    object-position: 50% 46%;
    position: absolute;
    box-shadow: 0px 2px 15px rgb(139, 139, 139);
}

#profile {
    width: 70px;
    padding: 5px;
    padding-right: 30px;
}

#logo {
    font-size: 25px;
    font-weight: bolder;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#slogan {
    font-size: 15px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

#logo-image {
    width: 20%; /* Adjust this percentage to make the image smaller */
    height: auto; /* Maintains the aspect ratio */
}
/* ---------- Footer ---------- */
footer {
    display: flex;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

footer p {
    padding: 0px 100px;
    font-size: small;
}

footer img {
    width: 25px;
    height: 25px;
    padding: 0px 20px;
}

/* ------------- Carousel -------------- */

.slick-slider {
    width: 90%;
    height: 360px;
    margin: auto;
}

.slide img {
    width: 90%;
    height: 360px;
    object-fit: cover;
    margin: auto;
    object-position: 50% 35%;
}

.slick-arrow.slick-prev::before, .slick-arrow.slick-next::before {
    color: black;
}

/* ------------- About Us Page ---------------- */

h1 {
    text-align: center;
    margin: 0;
    padding: 30px 0;
}

.about-us-info {
    letter-spacing: 2px;
    margin: 50px 0;
}

.about-us-info p {
    margin: auto;
    width: 80%;
    padding-top: 20px;
    text-align: center;
}

.opening-hours {
    background-color: #D9D9D9;
    padding: 20px 0;
    text-align: center;
}

/* ----------- Gyms Carousel ------------ */

.gym-div {
    height: 600px;
}

.gym-container-no-img {
    background-color: #D9D9D9;
    padding-top: 1px;
    padding-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
}

.gym-container img {
    display: block;
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.gym-container {
    padding-top: 20px;
    /* background-color: #D9D9D9; */
    margin: 0px 10px;
    border-radius: 20px;
    height: 470px;
    transition: transform .25s, visibility .25s ease-in;
}

.gym-container:hover {
    transform: scale(1.06);
}

.gym-container h3 {
    text-align: center;
}

.address-container, .number-container {
    display: inline-flex;
    padding: 0px 10px;
}

.address-container a, .number-container span {
    padding-top: 10px;
    text-decoration: none;
}

.number-container span {
    padding-left: 10px;
}
.number-container {
    padding-bottom: 20px;
    padding-left: 15px;
}

.address-container a:hover {
    font-weight: bold;
}

.capacity-container {
    padding: 0px 20px;
}

.capacity-container p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

/*----------- Profile Dropdown ------------*/
 .profile-dropdown {
    width: 200px;
    height: 200px;
    z-index: 2;
    background-color:  #D9D9D9;
    position: absolute;
    right: 0;
    top: -120px;
    margin-top: 190px;
    border-radius: 15px;
    height: auto;
    margin-right: 10px;
    border: 1px solid #888888; 
    display: none;
} 

.profile-container:hover .profile-dropdown {
    display: block;
}

#profile:hover .profile-dropdown {
    display: block;
}

.profile-dropdown a { 
    text-decoration: none;
    display: block;
    color: black;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 10px 0px;
    padding-left: 10px;

}

.profile-dropdown a:nth-last-of-type(even) {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}

.profile-dropdown a:nth-of-type(1):hover {
    background-color:  #a8a8a8;
    border-radius: 15px 15px 0px 0px;
}

.profile-dropdown a:nth-last-of-type(1):hover {
    background-color:  #a8a8a8;
    border-radius: 0px 0px 15px 15px;
}

.profile-dropdown a:hover {
    background-color: #a8a8a8;
}

/*---------------Transaction Table----------------*/

.transactions-table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 3px 6px;
}

.transactions-table tbody tr:nth-child(2n + 1) {
    background-image: linear-gradient(to right, #90b3ff , rgb(237, 193, 253));
}

.transactions-table tbody tr:nth-child(2n) {
    background-image: linear-gradient(to right, #a2befa , rgb(240, 208, 252));
}

.transactions-table td, .transactions-table th {
    padding: 10px 0px;
    padding-left: 10px;
    text-align: left;
    box-shadow: 0px 3px 3px rgb(175, 175, 175);
}

.transactions-table th {
    color: white;
}

.transactions-table thead tr {
    background-image: linear-gradient(to right, #0139b1 , rgb(155, 0, 216));
}

.transactions-table tbody tr {
    height: 45px;
    transition: transform .25s, visibility .25s ease-in;
}

.transactions-table tbody tr:hover {
    background-image: linear-gradient(to right, #6998fd , rgb(230, 161, 255));
    transform: scale(1.03);
}

.transactions-table {
    padding-bottom: 100px;
}

.transactions-table td:nth-of-type(1), .transactions-table th:nth-of-type(1) {
    border-radius: 15px 0px 0px 15px;
}

.transactions-table td:nth-last-of-type(1), .transactions-table th:nth-last-of-type(1) {
    border-radius: 0px 15px 15px 0px;
    box-shadow: 5px 3px 3px rgb(175, 175, 175);
}

/*------------Transactions Sort and Filter--------------*/
.dropdown-btn {
    background-image: linear-gradient(to right, #008ad4 , rgb(108, 103, 255));
    box-shadow: 5px 3px 3px rgb(175, 175, 175);
    padding: 10px 40px;
    border: none;
    font-family: Helvetica;
    letter-spacing: 5px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
}

.dropdown-list {
    top: 39px;
    position: absolute;
    display: none;
}

.dropdown-btn:hover {
    background-image: linear-gradient(to right, #032d87 , rgb(101, 0, 138));
}

.dropdown-container {
    display: inline-block;
    position: relative; 
    /* margin-left: 70px; */
}

.dropdown-container:hover .dropdown-list {
    display: block;
}


.dropdown-list button {
    display: block;
    text-decoration: none;
    background-color: #D9D9D9;
    padding: 10px;
    width: 270px;
    border: none;
    font-family: Helvetica;
    letter-spacing: 3px;
    box-shadow: 0px 3px 3px rgb(93, 93, 93);
    text-align: left;
}

.filter-list button {
    width: 200px;
}

.filter-list {
    right: -5px;
}

.filter-dropdown-btn {
    background-image: linear-gradient(to right, #7d58ff , rgb(208, 78, 255));
}

.dropdown-list button {
    border-bottom: 1px solid rgb(118, 118, 118);
}

.dropdown-list button:hover {
    background-color: #bebebe;
}

.dropdown-list button:nth-child(1) {
    border-radius: 20px 20px 0px 0px;
}

.dropdown-list button:nth-last-of-type(1) {
    border-bottom: none;
    border-radius: 0px 0px 20px 20px;
}

.sort-filter-container {
    width: 90%;
    margin-left: auto ;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}


/* ----------- Progress Graph ------------ */
.line-graph-container{
    width: 700px;
    height: 600px;
}

.graphs-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}
.graphs-container > * {
    flex: 1; 
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #898b89;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .button-container button:hover {
    background-color: #afb6b0;
  }
  



